.master {
    background: #8ba7a9;
}

.master-wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.search {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    width: 60%;
    height: 50px;
    display: flex;
    align-items: stretch;
    margin: 50px 0px 100px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}

.search-input {
    border: none;
    outline: none;
    padding: 20px 10px 20px 30px;
    font-size: medium;
    font-weight: 600;
    border-radius: 5px 0px 0px 5px;
    width: 100%;
    background: #f2f4f8;
}

.search-button {
    height: 50px;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 0px 5px 5px 0px;
    background: #cccdcf;
    cursor: pointer;
}

.search-image {
    height: 100%;
}

.search-results {
    width: 100%;
}

.book-info-container {
    display: flex;
    height: 250px;
    margin-bottom: 40px;
    color: #333333;
    position: relative;
}

.left-image {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.book-image {
    height: 100%;
}

.right-text {
    width: 100%;
    padding: 30px 40px;
    background: #c5dadb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-name {
    font-size: x-large;
    padding-bottom: 10px;
}

.book-desc {
    font-size: medium;
    font-weight: 500;
}

.author-category {
    display: flex;
    justify-content: space-between;
}

.out-of-stock {
    position: absolute;
    text-align: center;
    background: #df5757;
    color: white;
    padding: 10px;
    right: 40px;
}