* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: raleway;
}

a {
    text-decoration: none;
    color: unset;
}

.master {
    background: #ACC9CB;
}

.shader {
    background: rgb(128,128,128);
    background: linear-gradient(180deg, rgba(128,128,128,1) 0%, rgba(0,212,255,0) 100%);
    height: 100vh;
}

.master-wrapper-one {
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: url("Images/Binary Kit/Black/Binary_black_012.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.master-wrapper-two {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.left-side {
    display: flex;
}

.logo {
    width: 85px;
    margin-right: 30px;
}

.left-links, .right-links {
    display: flex;
}

.nav-link {
    list-style: none;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    font-size: large;
    font-weight: 700;
    color: white;
}

.nav-hover:hover {
    border-bottom: 3px solid white;
    padding-bottom: 2px;
}

.signup {
    background: #F2F4F8;
    color: #283D3B;
    padding: 5px 18px;
    border-radius: 7px;
    margin-left: 10px;
}

/* Hero Section */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 10vh;
}

.hero-text {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.hero-name {
    font-size: 60px;
}

.hero-desc {
    margin: 30px 0px 70px 0px;
    font-size: x-large;
}

.hero-search {
    outline: none;
    border: none;
    padding: 10px 15px;
    font-size: large;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.hero-image {
    width: 40%;
}

.hero-image-container {
    display: flex;
    flex-direction: column;
}

/* Dashboards */

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("Images/Binary Kit/Black/Binary_black_001.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.section-name {
    font-size: 40px;
    color: white;
    text-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 50px;
}

.dash-container {
    max-width: 1000px;
    height: 90vh;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containers {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.category-dash {
    width: 100%;
    height: 30%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

.category-explanation {
    padding-right: 20px;
    width: 40%;
}

.category-graph-container {
    width: 37%;
    height: 100%;
    display: flex;
    align-items: center;
}

.category-bar {
    width: 100%;
    height: 100%;
}

.vertical-line {
    border: 1px solid rgb(113, 113, 113);
    height: 100%;
    margin-left: 20px;
}

.top-category {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rates {
    display: flex;
    align-items: center;
}

.arrows {
    padding-right: 5px;
}

.top-names {
    font-size: medium;
}

.top-amounts {
    font-size: xx-large;
}

.compound-dash {
    display: flex;
    width: 100%;
    height: 67%;
    display: flex;
    justify-content: space-between;
}

.bar-dash {
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar-dash-graph-container {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.bar-dash-image {
    width: 100%;
    border-radius: 20px;
}

.multiple-trend {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-trend {
    width: 100%;
    height: 50%;
    display: flex;
}

.charts-dash {
    height: 46%;
    display: flex;
    justify-content: space-between;
}

.left-chart {
    height: 100%;
    width: 60%;
}

.right-chart {
    height: 100%;
    width: 37%;
}

.available-container, .borrowed-container {
    display: flex;
    justify-content: space-between;
}

.bar-dash-desc {
    margin-bottom: 8px;
}

.book-trend-graph {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.graph-heading {
    padding-bottom: 5px;
}

.book-trend-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    padding-right: 20px;
}

.this-month-container {
    display: flex;
    justify-content: space-between;
}

/* Rules Section */

.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("Images/Binary Kit/Black/Binary_black_002.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.rule-card-container {
    margin-bottom: 50px;
}

.rule-cards {
    max-width: 800px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.rule-images {
    width: 100%;
    height: 100%;
}

.left-image {
    width: 30%;
}

.right-text {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rule-card-heading {
    padding-bottom: 20px;
}




.rules2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("Images/Binary Kit/Black/Binary_black_002.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.rule-card-container2 {
    display: flex;
    margin-bottom: 100px;
}

.rule-cards2 {
    max-width: 300px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px;
    padding: 0px;
}

.rule-images2 {
    width: 100%;
    height: 100%;
    padding-top: 30px;
}

.rule-images-wave {
    margin-top: -4px;
    width: 100%;
}

.left-image2 {
    width: 100%;
    height: 40%;
    background: url("Images/stacked-waves-haikei.svg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.color-fader {
    width: 100%;
    height: 150%;
    margin-top: -5px;
    background: linear-gradient(180deg, rgba(38,119,175,1) 0%, rgba(0,0,0,0) 100%);
}

.right-text2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.rule-card-heading2 {
    padding-bottom: 20px;
    color: white;
}